:root {
   --a: rgb(70, 119, 112);
   --b: rgb(89, 138, 110);
   --c: rgb(71, 98, 98);
   --d: rgb(243, 245, 246);
}
.header{
    
   
   background-image: url('/public/media/header.jpg');

   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;

      
}
.row{
   height: 1200px;
}
.navbar{
   background-color: var(--a);
}
.navbar-logo{
   width: 30px;
   height:30px ;
}