:root {
   --a: rgb(70, 119, 112);
   --b: rgb(89, 138, 110);
   --c: rgb(71, 98, 98);
   --d: rgb(244, 246, 243);
   --e:  rgb(191, 39, 39);
   --f:  rgb(68, 48, 48);
}
.fc-p{
   color: var(--e)
}
body{
   margin: 0;
   background-color:var(--d) ;
}
.headerCustom{
    
   
   background-image: url('/public/media/header.jpg');

   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}
.body{
   margin:0;
   background-color: var(--d);
   
   text-decoration: antiquewhite;
}
.navbar{
   background-color: var(--a);
   font-style: var(--e) !important;
   
}
.navbar-logo{
   width: 30px;
   height:30px ;
   
}
.footer-l{
   background-color: var(--a) ;
   height: 10vh;
}
/* .leftCol{
   background-image: url('/public/media/pianoforte.jpg');
   background-size: cover;
height: 58vh;

} */
.card{
   margin-left: 10px;
   border: 2px solid var(--e);
   padding: 7px 12px;
   border-radius: 15px;
   color: var(--a);
   font-weight: 600;
   background-color: var(--d);
}
.arrow{
   color:var(--b) ;
}

.slideLeft{
   width: 100px;
   height: 150px;
}  
.slideLeft{
   animation: slideTree 3s ease forwards;
   transform: translateY(1200px);
   opacity: 0;
   

}
.slideLeft{
   animation: slideTree 3s ease forwards;
   transform: translateY(1200px);

animation-delay: 1000ms;   
}
@keyframes slideTree{
from{
   transform: translateY(1200px);
   opacity: 0;
}to{
   transform:translateY(0px);
   opacity: 1;
}
}
